body {
  font-family: Luminari,
    fantasy;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(137, 210, 253) 0%,
    rgb(255, 241, 188) 90%
  );
}
.container {
  display: block;
  border: 4px solid black;
  margin: 50px;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  width: 900px;
  height: 400px;
  background: cornsilk;
}
form {
  display: block;
  margin: 25px;
  margin-left: 450px;
  
}
#search-input{
border: 2px solid black;
border-radius: 4px;
width: 100%;
padding: 5px 80px;
}

div.col-2day {
  display: block;
  border: 3px solid rgba(17, 17, 133, 0.82);
  border-radius: 35%;
  width: 110px;
  text-align: center;
  margin: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;
}
.card-title-city {
  text-align: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto
}
#cityname{
  font-size: 35px;
}
#temperature{
  font-size: 70px;
}

h5.ul{
  list-style: none;
    border: 2px solid black;
    text-align: center;
    margin: 20px;
    padding: 10px;
}
div.icon{
  text-align: center;
}

img{
  size: 50px;
  display: block;
    margin-left: auto;
    margin-right: auto
}